---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: pgclusters.apr.bytetrade.io
spec:
  group: apr.bytetrade.io
  names:
    categories:
    - all
    kind: PGCluster
    listKind: PGClusterList
    plural: pgclusters
    shortNames:
    - pgc
    singular: pgcluster
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.replicas
      name: replicas
      type: number
    - jsonPath: .spec.adminUser
      name: admin
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: PGCluster is the Schema for the PostgreSQL Cluster
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              adminUser:
                pattern: ^([a-zA-Z0-9_]*)$
                type: string
              backupStorage:
                type: string
              citusImage:
                type: string
              owner:
                type: string
              password:
                properties:
                  value:
                    description: Defaults to "".
                    type: string
                  valueFrom:
                    description: Source for the environment variable's value. Cannot
                      be used if value is not empty.
                    properties:
                      secretKeyRef:
                        description: Selects a key of a secret in the pod's namespace
                        properties:
                          key:
                            description: The key of the secret to select from.  Must
                              be a valid secret key.
                            type: string
                          name:
                            description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                              TODO: Add other useful fields. apiVersion, kind, uid?'
                            type: string
                          optional:
                            description: Specify whether the Secret or its key must
                              be defined
                            type: boolean
                        required:
                        - key
                        type: object
                        x-kubernetes-map-type: atomic
                    type: object
                type: object
              replicas:
                format: int32
                minimum: 1
                type: integer
            required:
            - owner
            - replicas
            type: object
          status:
            properties:
              state:
                description: 'the state of the application: draft, submitted, passed,
                  rejected, suspended, active'
                type: string
              statusTime:
                format: date-time
                type: string
              updateTime:
                format: date-time
                type: string
            required:
            - state
            type: object
        type: object
    served: true
    storage: true
    subresources: {}
